.book-preview {
    text-align: center;
    padding: 0.3em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-preview h4 {
    text-transform: capitalize;
    color: var(--gray1);
}

.book-preview img {
    max-width: 100px;
}

.review-container {
    margin: auto;
}

.add-review-btn {
    display: flex;
    place-self: center;
}